body {
    font-family: sans-serif;
    font-size: 12px;
    color: #4f4f4f;
    background-color: #f3f3f3;
}

.t_bg {
    width: 100%;
    height: 52px;
    margin: 0 auto;
    min-width: 1150px;
    background-color: #323232;
}

.top {
    width: 1150px;
    margin: 0 auto;
    position: relative;
}

.top span {
    height: 22px;
    padding-left: 25px;
    margin-top: 15px;
    font-size: 12px;
    color: #eeeeee;
    display: inline-block;
}

.top a {
    font-size: 12px;
    color: #eeeeee;
}

.top .top_r {
    position: absolute;
    right: 0;
    top: 8px;
}

.top img {
    width: 32px;
    height: 32px;
    margin-left: 3px;
}

.top .tel {
    background: url(../images/icon1.jpg) no-repeat left center;
    margin-right: 20px;
}

.top .mail {
    background: url(../images/icon2.jpg) no-repeat left center;
}

.header {
    width: 100%;
    min-width: 1150px;
    position: relative;
}

.head {
    width: 1150px;
    height: 120px;
    margin: 0 auto;
}

.head .logo {
    width: 227px;
    height: 48px;
    margin-top: 30px;
    float: left;
}

.head .logo img {
    width: 100%;
    height: 100%;
}

.head .nav {
    width: 780px;
    float: right;
}

.head .nav li {
    width: auto;
    height: 120px;
    float: left;
    margin-left: 11px;
}

.head .nav li a {
    display: inline-block;
    color: #8d8d8d;
    padding: 0px 20px;
}

.head .nav li a p {
    font-size: 16px;
    color: #575757;
    padding-top: 40px;
}

.head .nav li.now,
.head .nav li:hover {
    background: #1C70EF;
}

.head .nav li.now a,
.head .nav li.now a p,
.head .nav li:hover a,
.head .nav li:hover a p {
    color: #ffffff;
}

.head .nav li .er_bg {
    position: absolute;
    width: 100%;
    top: 120px;
    left: 0px;
    padding: 30px 0px 45px;
    background: #E6E6E6;
    z-index: 999999;
    border: 1px solid #ffffff;
    display: none;
}

.head .nav li:hover .er_bg {
    display: block;
}

.head .nav li .er {
    width: 1150px;
    height: 120px;
    margin: 0px auto;
}

.head .nav li .er li {
    width: 185px;
    margin-left: 80px;
}

.head .nav li .er li a {
    line-height: 30px;
    color: #555555;
}

.head .nav li:hover .er li {
    background: none;
}

.head .nav li .er li a:hover {
    color: #1C70EF;
}

.banner {
    width: 100%;
    height: 537px;
    box-shadow: 0px 3px 5px #AEC0E8;
    position: relative;
}

.banner .slides {
    width: 100%;
    height: 537px;
    overflow: hidden;
}

.banner .slides li {
    width: 100%;
    height: 537px;
    display: none;
    overflow: hidden;
}

.banner .slides li img {
    width: 100%;
    height: 537px;
}

.banner .flexslider ol {
    width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
    cursor: pointer;
}

.banner .flexslider ol li {
    display: inline-block;
    margin: 0px 6px;
}

.banner .flexslider ol li a {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 20px;
    background: #60A2F3;
}

.banner .flexslider ol li a.flex-active {
    background: #1C70EF;
}

.banner .flexslider ol li a:hover {
    background: #1C70EF;
}

.i_ma {
    width: 1150px;
    margin: 0px auto;
    padding: 50px 0px 10px;
}

.i_ma .i_mam {
    width: 370px;
    float: left;
    margin-right: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 5px #999999;
}

.i_ma .i_mar {
    margin-right: 0px;
}

.i_ma .i_mam .tu {
    width: 100%;
    height: 185px;
    text-align: center;
    position: relative;
}

.i_ma .i_mal .tu {
    background: #2395CB;
}

.i_ma .i_mac .tu {
    background: #3ED1A4;
}

.i_ma .i_mar .tu {
    background: #895EA3;
}

.i_ma .i_mam .tu img {
    margin: 30px 0px 15px;
}

.i_ma .i_mam .tu p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.i_ma .i_mam .tu .line {
    width: 90px;
    height: 1px;
    background: #ffffff;
    margin: 7px auto 0px;
}

.i_ma .i_mam .tu .small {
    width: 30px;
    height: 15px;
    position: absolute;
    left: 170px;
    bottom: -15px;
}

.i_ma .i_mal .tu .small {
    background: url(../images/icon9.png) no-repeat;
}

.i_ma .i_mac .tu .small {
    background: url(../images/icon10.png) no-repeat;
}

.i_ma .i_mar .tu .small {
    background: url(../images/icon11.png) no-repeat;
}

.i_ma .i_mam .wen {
    width: 340px;
    height: 310px;
    margin: 0px auto;
    padding: 20px 0px 10px;
}

.i_ma .i_mal .name {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #000000;
}

.i_ma .i_mal dl {
    width: 100%;
    height: 113px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #dddddd;
}

.i_ma .i_mal dl dt {
    width: 129px;
    height: 113px;
    float: left;
}

.i_ma .i_mal dl dd {
    width: 190px;
    float: right;
    font-size: 16px;
    color: #555555;
    line-height: 180%;
}

.i_ma .i_mal dl dd p a {
    color: #555555;
}

.i_ma .i_mal .i_news {
    width: 100%;
    height: 110px;
    margin-top: 10px;
}

.i_ma .i_mal .i_news li {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: url(../images/icon16.jpg) no-repeat left center;
}

.i_ma .i_mal .i_news li a {
    font-size: 16px;
    color: #555555;
    margin-left: 8px;
}

.i_ma .i_mac .i_pro .mainPhoto {
    width: 340px;
    height: 310px;
    overflow: hidden;
    position: relative;
}

.i_ma .i_mac .i_pro .mainPhoto .photo {
    width: 280px;
    height: 310px;
    margin: 0px auto;
}

.i_ma .i_mac .i_pro .mainPhoto .goLeft {
    position: absolute;
    left: 0px;
    top: 130px;
}

.i_ma .i_mac .i_pro .mainPhoto .goRight {
    position: absolute;
    top: 130px;
    right: 0px;
}

.i_ma .i_mac .i_pro .mainPhoto span img:hover {
    transform: scale(1.09);
}

.i_ma .i_mac .i_pro .mainPhoto .photo ul li {
    width: 280px;
    height: 310px;
    display: none;
}

.i_ma .i_mac .i_pro .mainPhoto .photo ul li a img {
    width: 280px;
    height: 180px;
    margin-top: 20px;
}

.i_ma .i_mac .i_pro .mainPhoto .photo .title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    color: #1C70EF;
    margin-top: 20px;
}

.i_ma .i_mac .i_pro .mainPhoto .photo ul li a p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #555555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.i_ma .i_mar .i_about .des {
    width: 340px;
    height: 84px;
    margin-top: 22px;
    background: url(../images/bg_a.jpg) no-repeat;
}

.i_ma .i_mar .i_about p {
    width: 280px;
    height: 50px;
    font-size: 16px;
    color: #555555;
    padding-top: 15px;
    margin: 0px auto;
    line-height: 165%;
}

.i_mbt {
    width: 1150px;
    margin: 0px auto;
    margin-top: 40px;
}

.i_mbt p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #555555;
}

.i_mbt p.caption {
    font-size: 24px;
    color: #000000;
}

.i_mbt .line {
    width: 100px;
    height: 1px;
    background: #bbbbbb;
    margin: 20px auto 0px;
}

.bg_b {
    width: 100%;
    height: 5px;
    background: url(../images/bg_b.jpg) repeat-x;
    position: relative;
    top: -1px;
    z-index: -9;
}

.i_mb {
    width: 1150px;
    margin: 35px auto;
}

.i_mb dl {
    width: 230px;
    float: left;
    border-right: 1px dashed #dddddd;
    margin-right: 50px;
}

.i_mb dl dt {
    width: 110px;
    float: left;
    text-align: center;
}

.i_mb dl dd {
    width: 105px;
    float: left;
    background: url(../images/icon20.png) no-repeat left 7.5px;
    padding-left: 15px;
}

.i_mb .caption {
    width: 100%;
    font-size: 18px;
    color: #444444;
}

.i_mb p {
    width: 100%;
    font-size: 12px;
    color: #555555;
}

.bg_c {
    width: 100%;
    height: 12px;
    background: url(../images/bg_c.jpg) repeat-x;
}

.f_nbg {
    width: 100%;
    background: #323232;
    padding: 55px 0px;
}

.f_nbg .f_nav {
    width: 1150px;
    margin: 0px auto;
}

.f_nbg .f_nav li {
    width: 120px;
    height: 130px;
    float: left;
    border-right: 1px solid #444444;
    margin-right: 40px;
}

.f_nbg .f_nav li p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: url(../images/icon17.jpg) no-repeat left;
}

.f_nbg .f_nav li p a {
    width: 100%;
    font-size: 14px;
    color: #888888;
    margin-left: 10px;
}

.f_nbg .f_nav li p a:hover {
    color: #eeeeee;
}

.f_nbg .f_nav li p.caption {
    height: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    background: none;
}

.f_nbg .f_nav li p.caption a {
    font-size: 18px;
    margin-left: 0px;
}

.f_nbg .f_nav li:nth-last-child(-n+2) {
    border: none;
}

.f_nbg .f_nav .code {
    width: 113px;
    height: 135px;
    padding: 8px;
    margin: 0px auto;
    background: #444444;
}

.f_nbg .f_nav .code p {
    background: none;
    text-align: center;
    color: #999999;
}

.bq_bg {
    width: 100%;
    height: 60px;
    background: #000000;
    text-align: center;
}

.bq_bg .bq {
    width: 1150px;
    height: 20px;
    margin: 0px auto;
    padding-top: 20px;
}

.bq_bg .bq span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #bbbbbb;
    margin-right: 30px;
    vertical-align: top;
}

.bq_bg .bq a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.about_pic {
    width: 100%;
}

.about_pic img {
    width: 100%;
    height: auto;
}

.about_nav {
    width: 100%;
    background: #ffffff;
    padding-top: 25px;
}

.about_nav div {
    width: 1150px;
    height: 40px;
    margin: 0px auto;
    border-bottom: 2px solid #cccccc;
}

.about_nav div span {
    display: inline-block;
    width: 92px;
    text-align: center;
    margin-right: 15px;
    line-height: 40px;
}

.about_nav div span a {
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #323232;
}

.about_nav div span.active a,
.about_nav div span a:hover {
    color: #0C5AD3;
    border-bottom: 2px solid #0C5AD3;
}

.intro {
    width: 100%;
    padding: 25px 0 45px;
    background: #ffffff;
}

.intro div {
    width: 1150px;
    margin: 0 auto;
}

.intro div img {
    width: 100%;
    height: auto;
}

.intro div p {
    width: 90%;
    font-size: 14px;
    line-height: 25px;
    text-indent: 2em;
    margin: 20px auto 0;
}

.intro div p:nth-last-child(-n+3) {
    margin-top: 5px;
}

.intro div p:nth-last-child(-n+4) {
    text-indent: 0;
}

.certi {
    width: 100%;
    padding: 25px 0 45px;
    background: #ffffff;
}

.certi div {
    width: 1150px;
    margin: 0 auto;
}

.certi div ul li {
    width: 265px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.certi div ul li:nth-child(4n+4) {
    margin-right: 0;
}

.certi div ul li p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #555555;
    background: #ececec;
    line-height: 30px;
}

.certi div ul li a {
    display: inline-block;
    width: 100%;
    height: 200px;
    position: relative;
}

.certi div ul li a img {
    width: 255px;
    height: 190px;
    padding: 3px;
    border: 2px solid #dddddd;
}

.certi div ul li a span {
    display: inline-block;
    width: 24px;
    height: 19px;
    background: url('../images/icon21.png') no-repeat;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.recru {
    width: 100%;
    background: #ffffff;
    padding: 25px 0 45px;
    font-size: 14px;
    color: #555555;
}

.recru>div {
    width: 1150px;
    margin: 0 auto;
}

.recru table {
    width: 100%;
    line-height: 215%;
}

.recru table tr td {
    width: 50%;
    padding: 10px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    vertical-align: top;
}

.recru table tr td:last-child {
    border-right: none;
}

.recru table tr td .title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #0037ff;
}

.recru table tr td .caption {
    font-weight: 600;
    color: #000000;
}

.pages {
    width: 100%;
    padding-top: 25px;
    text-align: center;
}

.pages a {
    display: inline-block;
    width: 55px;
    height: 30px;
    line-height: 30px;
    color: #444444;
    border-bottom: 1px solid #dddddd;
}

.pages .active,
.pages a:hover {
    color: #ffffff;
    background: #1C6FEF;
    border: #1C6FEF;
}

.product {
    width: 100%;
    padding: 25px 0 45px;
}

.path {
    width: 1150px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 13px;
    color: #555555;
}

.path a {
    color: #555555;
}

.path a:hover {
    color: #5595CB;
}

.pro {
    width: 1150px;
    margin: 0 auto;
}

.categ li {
    float: left;
    width: 255px;
    height: 185px;
    background: #d1d1d1;
    margin-right: 2px;
}

.categ li.active {
    width: 377px;
    background: #1C6FEF;
}

.categ li.active a p {
    color: #ffffff;
    padding-top: 50px;
}

.categ li a span {
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    background: url(../images/icon23.png) no-repeat;
}

.categ li.active a span {
    display: block;
}

.categ li:hover {
    background: #1C6FEF;
}

.categ li:last-child {
    padding-right: 0;
}

.categ li:hover a p {
    color: #ffffff;
}

.categ li a p {
    font-size: 30px;
    color: #555555;
    text-align: center;
    padding-top: 70px;
}

.search {
    width: 1150px;
    height: 90px;
}

.search div {
    float: right;
    width: 330px;
    height: 45px;
    margin-top: 22px;
    position: relative;
}

.search input[type="text"] {
    width: 263px;
    height: 43px;
    border: 1px solid #dddddd;
    background: #ffffff;
    font-size: 14px;
    padding: 0 10px;
    color: #333333;
}

.search input[type="submit"] {
    width: 45px;
    height: 45px;
    background: #000000 url(../images/icon22.png) no-repeat center;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.content {
    width: 1148px;
    margin: 0 auto;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.content li {
    width: 382px;
    border-right: 1px solid #dddddd;
    border-bottom: 1PX solid #dddddd;
    float: left;
    position: relative;
}

.content li:nth-child(3n+3) {
    border-right: 0;
}

.content li:nth-last-child(-n+3) {
    border-bottom: 0;
}

.content li .sur {
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: 0.7s;
}

.content li .sur p {
    width: 90%;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding-top: 40px;
}

.content li .in {
    width: 100%;
    height: 317px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.content li:hover .in {
    opacity: 1;
}

.content li:hover .sur {
    opacity: 0.1;
}

.content li .in p {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    font-size: 14px;
    color: #807F7F;
    line-height: 195%;
    padding-top: 100px;
    margin-bottom: 30px;
}

.content li .in a {
    font-size: 13px;
    color: #1B6FEF;
}