body {
    font-family: sans-serif;
    font-size: 12px;
    color: #4f4f4f;
    background-color: #f3f3f3;
}

.t_bg {
    width: 100%;
    height: 52px;
    margin: 0 auto;
    min-width: 1150px;
    background-color: #323232;
}

.top {
    width: 1150px;
    margin: 0 auto;
    position: relative;
}

.top span {
    height: 22px;
    padding-left: 25px;
    margin-top: 15px;
    font-size: 12px;
    color: #eeeeee;
    display: inline-block;
}

.top a {
    font-size: 12px;
    color: #eeeeee;
}

.top .top_r {
    position: absolute;
    right: 0;
    top: 8px;
}

.top img {
    width: 32px;
    height: 32px;
    margin-left: 3px;
}

.top .tel {
    background: url(../images/icon1.jpg) no-repeat left center;
    margin-right: 20px;
}

.top .mail {
    background: url(../images/icon2.jpg) no-repeat left center;
}

.header {
    width: 100%;
    min-width: 1150px;
    position: relative;
}

.head {
    width: 1150px;
    height: 120px;
    margin: 0 auto;
}

.head .logo {
    width: 227px;
    height: 48px;
    margin-top: 30px;
    float: left;
}

.head .logo img {
    width: 100%;
    height: 100%;
}

.head .nav {
    width: 780px;
    float: right;
}

.head .nav li {
    width: auto;
    height: 120px;
    float: left;
    margin-left: 11px;
}

.head .nav li a {
    display: inline-block;
    color: #8d8d8d;
    padding: 0px 20px;
}

.head .nav li a p {
    font-size: 16px;
    color: #575757;
    padding-top: 40px;
}

.head .nav li.now,
.head .nav li:hover {
    background: #1C70EF;
}

.head .nav li.now a,
.head .nav li.now a p,
.head .nav li:hover a,
.head .nav li:hover a p {
    color: #ffffff;
}

.head .nav li .er_bg {
    position: absolute;
    width: 100%;
    top: 120px;
    left: 0px;
    padding: 30px 0px 45px;
    background: #E6E6E6;
    z-index: 999999;
    border: 1px solid #ffffff;
    display: none;
}

.head .nav li:hover .er_bg {
    display: block;
}

.head .nav li .er {
    width: 1150px;
    height: 120px;
    margin: 0px auto;
}

.head .nav li .er li {
    width: 185px;
    margin-left: 80px;
}

.head .nav li .er li a {
    line-height: 30px;
    color: #555555;
}

.head .nav li:hover .er li {
    background: none;
}

.head .nav li .er li a:hover {
    color: #1C70EF;
}

.banner {
    width: 100%;
    height: 537px;
    box-shadow: 0px 3px 5px #AEC0E8;
    position: relative;
}

.banner .slides li {
    display: none;
    float: left;
}

.banner .slides li img {
    width: 100%;
    height: 537px;
}

.banner .flexslider ol {
    width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
}

.banner .flexslider ol li {
    display: inline-block;
    margin: 0px 6px;
}

.banner .flexslider ol li a {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 20px;
    background: #60A2F3;
}

.banner .flexslider ol li a.flex-active {
    background: #1C70EF;
    cursor: default;
}

.banner .flexslider ol li a:hover {
    background: #1C70EF;
}

.i_ma {
    width: 1150px;
    margin: 0px auto;
    padding: 50px 0px 10px;
}

.i_ma .i_mam {
    width: 370px;
    float: left;
    margin-right: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 5px #999999;
}

.i_ma .i_mar {
    margin-right: 0px;
}

.i_ma .i_mam .tu {
    width: 100%;
    height: 185px;
    text-align: center;
    position: relative;
}

.i_ma .i_mal .tu {
    background: #2395CB;
}

.i_ma .i_mac .tu {
    background: #3ED1A4;
}

.i_ma .i_mar .tu {
    background: #895EA3;
}

.i_ma .i_mam .tu img {
    margin: 30px 0px 15px;
}

.i_ma .i_mam .tu p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.i_ma .i_mam .tu .line {
    width: 90px;
    height: 1px;
    background: #ffffff;
    margin: 7px auto 0px;
}

.i_ma .i_mam .tu .small {
    width: 30px;
    height: 15px;
    position: absolute;
    left: 170px;
    bottom: -15px;
}

.i_ma .i_mal .tu .small {
    background: url(../images/icon9.png) no-repeat;
}

.i_ma .i_mac .tu .small {
    background: url(../images/icon10.png) no-repeat;
}

.i_ma .i_mar .tu .small {
    background: url(../images/icon11.png) no-repeat;
}

.i_ma .i_mam .wen {
    width: 340px;
    height: 310px;
    margin: 0px auto;
    padding: 20px 0px 10px;
}

.i_ma .i_mal .name {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #000000;
}

.i_ma .i_mal dl {
    width: 100%;
    height: 113px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #dddddd;
}

.i_ma .i_mal dl dt {
    width: 129px;
    height: 113px;
    float: left;
}

.i_ma .i_mal dl dd {
    width: 190px;
    float: right;
    font-size: 16px;
    color: #555555;
    line-height: 180%;
}

.i_ma .i_mal dl dd p a {
    color: #555555;
}

.i_ma .i_mal .i_news {
    width: 100%;
    height: 110px;
    margin-top: 10px;
}

.i_ma .i_mal .i_news li {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: url(../images/icon16.jpg) no-repeat left center;
}

.i_ma .i_mal .i_news li a {
    font-size: 16px;
    color: #555555;
    margin-left: 8px;
}