.mainpage {
    margin-top: 20px;
    margin-left: 50px;
}

.mainpage a {
    background-color: #7CDCFE;
}

#share h1 {
    margin: 30px 0 0 50px;
}

#share ul {
    margin-top: 30px;
    margin-left: 50px;
    width: 80%;
    overflow: hidden;
}

#share li {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: #E6F1FC;
}

#course {
    margin-top: 30px;
    margin-left: 30px;
}

#course li {
    margin-bottom: 10px;
}

.bkhome {
    margin-top: 20px;
    margin-left: 30px;
}

.bkhome a {
    background-color: #7CDCFE;
}

.active {
    background-color: #666666;
}

.active a {
    color: #ffffff;
}

#maincontent {
    width: 85%;
    margin-bottom: 50px;
}

#maincontent div {
    margin-left: 50px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #aaaaaa;
}

#maincontent h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 50px;
}

#maincontent h2 {
    font-size: 30px;
    font-weight: 400;
    color: #3f3f3f
}

#maincontent h3 {
    margin: 25px 0 0 0;
    font-size: 16px;
}

#maincontent h4 {
    margin: 25px 0 0 0;
}

#maincontent p {
    margin: 20px 0 0 0;
    line-height: 159%;
}

#maincontent li {
    margin-top: 8px;
    margin-left: 20px;
    list-style: unset;
}

#maincontent img {
    margin-top: 15px;
}

#maincontent pre {
    margin-top: 15px;
    padding: 20px;
    border: 1px dotted #778855;
    background-color: #f5f5f5;
    line-height: 1.4;
    font-family: cochin;
}

#maincontent ul.skip {
    overflow: hidden;
}

#maincontent .skip li {
    list-style: none;
    width: 15%;
    height: 25px;
    float: left;
    border: 1px solid #969696;
    text-align: center;
}

#maincontent .skip a:nth-child(2) li {
    float: right;
    margin-right: 20px;
}