#load {
    background-color: #A5BDBD;
    text-align: center;
}

#home {
    display: none;
}

#cv {
    margin-top: 200px;
}

header {
    background-color: #000000;
    /* height: 240px; */
    padding-bottom: 30px;
    position: relative;
}

.container {
    width: 70%;
    text-align: center;
}

.motto p {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
}

.motto strong {
    color: #ffffff;
    padding-left: 5%;
}

.moderators {
    /* max-width: 35px; */
    height: 300px;
    float: right;
    position: absolute;
    top: 60px;
    right: 0;
    /* padding-right: 5%; */
}

.moderators ul {
    width: 50px;
}

.moderators ul li {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.moderators ul li img {
    width: 30px;
    height: 30px;
    margin-top: 3px
}

.moderators ul li:hover {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: 80px;
    right: 50px;
    width: 200px;
    height: 200px;
}

.myemail {
    display: none;
    border: solid 1px #969696;
    background-color: #969696;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 8px;
}

.myweixin {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
}

.myweixin img {
    width: 145px;
    height: 145px;
}

.myqq {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
}

.myqq img {
    width: 145px;
    height: 145px;
}

.scenery img {
    width: 100%;
    height: 240px;
}

#banner-sec {
    text-align: center;
}

#banner-sec .container {
    width: 95%;
    margin: 0 auto;
}

.menu-bar ul {
    margin-top: 10px;
}

.menu-bar ul li {
    display: inline-block;
    margin: 0 3px;
    color: #959595;
}

.menu-bar ul li a {
    color: #959595;
}

.menu-bar ul li.active a {
    color: #000000;
}

#banner-sec .container div h2 {
    font-size: 20px;
    line-height: 22px;
    color: #959595;
    word-spacing: -0.4px;
    margin-top: 20px;
}

#banner-sec .container div span {
    display: block;
    width: 65%;
    height: 2px;
    background-color: #959595;
    margin: 10px auto 20px;
}

.skills-sec {
    background-color: #EDEEF0;
}

.skills-sec .container,
.services-sec .container {
    width: 100%;
    /* margin: 20px 10%; */
}

.skills-sec .container h2,
.services-sec .container h2 {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 20px;
    font-family: monospace;
}

.skills-sec .container h5,
.services-sec .container h5 {
    text-align: left;
    padding-left: 10px;
    font-family: monospace;
    font-size: 10px;
    color: #959595;
    margin-bottom: 30px;
    margin-right: 20%;
}

.skills-sec .container ul {
    width: 70%;
    margin: 0 auto;
    color: #959595;
    padding-bottom: 30px;
}

.skills-sec .container ul li {
    margin-bottom: 20px;
}

.skill_title span {
    font-size: 12px;
}

.barfiller {
    width: 100%;
    height: 12px;
    margin-top: 10px
}

.fill {
    display: block;
    height: 12px;
}

.skills-set li:nth-child(1) .barfiller {
    border: 1px solid #0f5daa;
}

.skills-set li:nth-child(1) .barfiller .fill {
    background-color: #0f5daa;
    width: 85%;
}

.skills-set li:nth-child(2) .barfiller {
    border: 1px solid #02592e;
}

.skills-set li:nth-child(2) .barfiller .fill {
    background-color: #02592e;
    width: 70%;
}

.skills-set li:nth-child(3) .barfiller {
    border: 1px solid #e07702;
}

.skills-set li:nth-child(3) .barfiller .fill {
    background-color: #e07702;
    width: 90%;
}

.skills-set li:nth-child(4) .barfiller {
    border: 1px solid #f5e200;
}

.skills-set li:nth-child(4) .barfiller .fill {
    background-color: #f5e200;
    width: 95%;
}

.skills-set li:nth-child(5) .barfiller {
    border: 1px solid #dd59ad;
}

.skills-set li:nth-child(5) .barfiller .fill {
    background-color: #dd59ad;
    width: 85%;
}


/* .services-sec .rowlist::after {
    content: "";
    display: block;
    clear: both;
    /* overflow: hidden; 
} */

.services-sec .skill-item {
    /* float: left; */
    /* width: 50%; */
    margin-bottom: 20px;
    /* position: relative; */
}

.services-sec .skill-item h3 {
    /* position: absolute; */
    /* top: 0; */
    /* left: 50px; */
    font-size: 18px;
    font-weight: 200;
    font-family: monospace;
}

.services-sec .skill-item h6 {
    /* width: 80%; */
    /* margin-left: 50px; */
    font-size: 10px;
    line-height: 18px;
    color: #AAAAAA;
    font-family: monospace;
    text-align: left;
    margin-left: 5px;
}