#load {
    background-color: #A5BDBD;
    text-align: center;
}

#home {
    display: none;
}

#cv {
    margin-top: 200px;
}

header {
    background-color: #000000;
    height: 240px;
    padding: 60px 0;
    position: relative;
}

.header-sec .container {
    width: 80%;
    text-align: center;
}

.motto {
    height: 60px;
}

.motto p {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.motto strong {
    color: #ffffff;
}

.moderators {
    width: 20%;
    height: 300px;
    float: right;
    position: absolute;
    top: 60px;
    right: 30px;
}

.moderators ul {
    width: 50px;
}

.moderators ul li {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.moderators ul li img {
    width: 30px;
    height: 30px;
    margin-top: 3px
}

.moderators ul li:hover {
    transform: scale(1.1);
}

.details {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 200px;
    height: 200px;
}

.myemail {
    display: none;
    border: solid 1px #969696;
    background-color: #969696;
    width: 200px;
    position: absolute;
    top: 50px;
    border-radius: 8px;
}

.myemail p {
    margin-left: 20px;
}

.myweixin {
    display: none;
    position: absolute;
    top: 55px
}

.myweixin img {
    width: 145px;
    height: 145px;
}

.myqq {
    display: none;
    position: absolute;
    top: 55px;
}

.myqq img {
    width: 145px;
    height: 145px;
}

.scenery img {
    width: 100%;
    height: 460px;
    min-height: 240px;
}

#banner-sec {
    text-align: center;
}

#banner-sec .container {
    width: 980px;
    margin: 0 auto;
}

.menu-bar ul {
    margin-top: 30px;
}

.menu-bar ul li {
    display: inline-block;
    margin: 0 10px;
    color: #959595;
}

.menu-bar ul li a {
    color: #959595;
}

.menu-bar ul li.active a {
    color: #000000;
}

#banner-sec .container div h2 {
    font-size: 56px;
    line-height: 67px;
    color: #959595;
    word-spacing: -0.4px;
    margin-top: 40px;
}

#banner-sec .container div span {
    display: block;
    width: 2px;
    height: 80px;
    background-color: #959595;
    margin: 10px auto 20px;
}

.skills-sec .container {
    /* width: 60%; */
    margin: 20px 10%;
}

.skills-sec .container h2 {
    text-align: left;
    /* padding-left: 10%; */
    font-size: 56px;
}

.skills-sec .container h5 {
    text-align: left;
    /* padding-left: 10%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #959595;
    margin-bottom: 30px;
    margin-right: 20%;
}

.skills-sec .container ul {
    width: 340px;
    margin: 0 auto;
    color: #959595;
}

.skills-sec .container ul li {
    margin-bottom: 20px;
}

.barfiller {
    width: 100%;
    height: 12px;
    margin-top: 10px
}

.fill {
    display: block;
    height: 12px;
}

.skills-set li:nth-child(1) .barfiller {
    border: 1px solid #0f5daa;
}

.skills-set li:nth-child(1) .barfiller .fill {
    background-color: #0f5daa;
    width: 85%;
}

.skills-set li:nth-child(2) .barfiller {
    border: 1px solid #02592e;
}

.skills-set li:nth-child(2) .barfiller .fill {
    background-color: #02592e;
    width: 70%;
}

.skills-set li:nth-child(3) .barfiller {
    border: 1px solid #e07702;
}

.skills-set li:nth-child(3) .barfiller .fill {
    background-color: #e07702;
    width: 90%;
}

.skills-set li:nth-child(4) .barfiller {
    border: 1px solid #f5e200;
}

.skills-set li:nth-child(4) .barfiller .fill {
    background-color: #f5e200;
    width: 95%;
}

.skills-set li:nth-child(5) .barfiller {
    border: 1px solid #dd59ad;
}

.skills-set li:nth-child(5) .barfiller .fill {
    background-color: #dd59ad;
    width: 85%;
}