#load {
    background-color: #A5BDBD;
    text-align: center;
}

#home {
    display: none;
}

#cv {
    margin-top: 200px;
}

header {
    background-color: #000000;
    height: 240px;
    padding: 60px 0;
    position: relative;
}

.container {
    width: 70%;
    text-align: center;
}

.motto {
    height: 60px;
}

.motto p {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.motto strong {
    color: #ffffff;
}

.moderators {
    max-width: 35px;
    height: 300px;
    float: right;
    position: absolute;
    top: 60px;
    right: 0;
}

.moderators ul {
    width: 50px;
}

.moderators ul li {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.moderators ul li img {
    width: 30px;
    height: 30px;
    margin-top: 3px
}

.moderators ul li:hover {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: 80px;
    right: 35px;
    width: 200px;
    height: 200px;
}

.myemail {
    display: none;
    border: solid 1px #969696;
    background-color: #969696;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 8px;
}

.myweixin {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
}

.myweixin img {
    width: 145px;
    height: 145px;
}

.myqq {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
}

.myqq img {
    width: 145px;
    height: 145px;
}