* {
    margin: 0;
    padding: 0;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    max-width: 1400px;
    min-width: 480px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    background-color: #539EBE;
    color: #00347E;
    padding: 1rem 0 2rem 2rem;
    text-shadow: 5px 5px 5px #00020C;
}

.modul {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;
    border-bottom: 1px solid #494447;
}

.modul div {
    width: 30%;
    min-width: 320px;
    height: 30rem;
    background-color: #89E9F7;
    float: left;
    margin: 2rem 1.5rem;
}

h2 {
    width: 80%;
    height: 6rem;
    text-align: center;
    font-size: 5rem;
    color: #A786D4;
    text-shadow: 3px 3px 5px #00020C;
    padding-top: 12rem;
    margin: 0 auto;
}

.project {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    width: 100%;
    margin: 3rem auto;
}

li {
    display: inline-block;
    width: calc(1/7*100%);
    min-width: 120px;
    height: 3rem;
    background-color: #BDF7E8;
    margin: 0 calc(1/21*100%) 2rem;
    list-style: none;
    font-size: 2.5rem;
    text-align: center;
}